.input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--gray-light-color);

  transition: border-color 150ms ease-in-out;

  &:focus {
    border-color: var(--primary-color);
  }
}

.error-msg {
  font-size: 1.4rem;
  margin-top: 2px;

  color: var(--red-color);

  cursor: default;
  user-select: none;
}
